@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* common style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 870px;
    padding: 30px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    line-height: 34px;
    margin-top: 3px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* --------------------------  *\
      navigation styles
\* ---------------------------- */
header {
    width: 100%;
}

.navigation-site {
    background-color: #562EFF;

}

nav {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.list ul {

    display: flex;
    align-items: center;
}

ul a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-right: 35px;
}

ul img {
    width: 50px;
}

.logo-site img {
    width: 45px;
}

/* --------------------------  *\
      top player styles
\* ---------------------------- */
.top-player {
    margin-bottom: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 17px;
}



/* --------------------------  *\
      top blogs styles
\* ---------------------------- */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blogs .blog img {
    width: 216.74px;
    height: 117px;
}

.blog {
    display: flex;
}

.blogs .blog-info {
    font-size: 20px;
    margin-left: 16px;
}

.blogs .blog-info .author {
    font-size: 16px;
    color: #9F9F9F;
}

.blogs .blog-info .author a {
    text-decoration: none;
}


/* --------------------------  *\
      courses styles
\* ---------------------------- */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 37px;
}

.course {
    Width: 252.42px;
    Height: 269.79px;
    box-shadow: 10px 10px 30px rgba(211, 211, 211, 0.383);
    padding: 10px;
    border-radius: 5px;

}

.course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fa-star {
    font-size: 12px;
}

.fas.fiell {
    color: #FFC014;
}

.fas.empty {
    color: #aeaeae81;
}

.duration {
    background-color: #ff4a5f54;
    color: #FF4A60;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 5px;

}

/* --------------------------  *\
      media quarry
\* ---------------------------- */

/* --------------------------  *\
     mobile devise
\* ---------------------------- */

@media only screen and (max-width: 688px) {



    nav ul {
        position: fixed;
        left: 0;
        background-color: #562EFF;
        height: 30vh;
        width: 100%;
        display: block;
        justify-content: center;
    }

    .nav div {
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
    }

    .logo-site img {
        margin: 0 auto;
    }

    .container {
        width: 100%;
    }

    .navigation-site {
        width: 100%;
    }

    .list ul {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul img {
        width: 20px;
    }

    .player,
    .blog {
        flex-direction: column;
        align-items: center;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .blogs .blog img {
        width: 200px;
    }


    .course {
        margin: 0 auto;
    }

}

/* ipad m quarry */

@media only screen and (min-width: 669px) and (max-width: 991px) {
    .container {
        width: 100%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);

    }

    .player {
        margin: 0 auto;
    }
}